.chart-container{
    text-align: center;
    font-size: 3vh;
 
}

h1{
    background: linear-gradient(90deg, 
    rgba(255,106,106,1) 0%,
     rgba(255,255,94,1) 20%,
      rgba(139,255,157,1) 40%,
       rgba(147,248,255,1) 60%,
        rgba(203,155,255,1) 80%,
         rgba(255,79,149,1) 100%);
    margin-bottom: 5vh;
    animation: change-color 20s infinite;

}

@keyframes change-color {
    0%{background-size: 100%;}
    60%{background-size: 400%;}
    100%{background-size: 100%;}
}